{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>FEEDS</title>
		<!--Bootstrap-->
		<link href="{% static "css/bootstrap.css"  %}" rel="stylesheet">
		<style>
			.d1{
				margin-left:500px;
			}
			h2{
				margin-left: 30px;
				color: #F50057;
				text-transform: capitalize;
				text-shadow: 3px 2px black;
				height: 60px;
				text-align: center;
				font-family: "monospace serif sans-serif";
			}
			.s{
				margin-top: 10px;
				margin-left:500px;
			}
		</style>
	</head>

	<body style= "background-color:#E0F7FA;">
		<center>		<h1 style="background-color:teal;">Welcome to upload to win</h1>	</center>
		<div>
			<form method = "POST"  action="/post/">
			{% csrf_token  %}
			{{ form  }}
			<input type = "submit" class = "btn btn-success" value="create post" style="margin-right: 1000px; margin-top: 20px; background-color:#90CAF9; height:40px;">
			<a class="btn btn-success" value="logout" href="/welcome/" style="margin-left: 50px; height:50%;">Logout</a>
			</form>

		<div class="s">
   	 		<form method="get" action="/search/">
        		<input type="text" name="q" placeholder="Show posts from">
        		<input type="submit" value="Search" class="btn btn-success">
    		</form>
		</div>
		</div>
		<div>
			<h2>NEW FEEDS</h2>
		</div>
		{% for post in posts  %}

			<div class="d1">
				<h3> Posted by: {{ post.user.username }} </h3>
				<p> [{{ post.created_on }}]</p>
				<img style="display:inline-block; width:350px; height:300px;"  src="{{ post.image_url }}"/> <br>
				<span style="display:inline-block;">{{ post.caption }}</span><br/><br/>
				{{ post.like_count }} likes this
				</div >
				<div style="display:inline-block" class="d1">
				<form method="POST" action="/like/">
					{% csrf_token %}
					<input type="hidden" name="post" value="{{ post.id }}" />
					{% if post.has_liked %}
					<input type="submit" class="btn btn-default" value="Unlike">
					{% else %}
					<input type="submit" class="btn btn-default" value="Like">
					{% endif %}
				</form>
				</div>

				<div class="d1">
					<form method="POST" action="/comment/">
						{% csrf_token %}
						<input type="hidden" name="post" value="{{ post.id }}" />
						<input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
						{{ comment_text }}
                            <input type="submit" value="Comment" class="button">
					</form>

				</form>

				<div >

					 {% for comment in post.comments %}

                        <p><b><span class="user">{{ comment.user.username }}</span><br> <span class="dated">[{{ comment.created_on }}]:</b></span><span class="comm">{{ comment.comment_text }}</span></p>
                        {{ comment.upvote }} likes this
					<div>
						<form method="POST" action="/like_comm/">
                        	{% csrf_token %}
                            	<input type="hidden" name="comment" value="{{ comment.id }}" />
                        	{% if comment.upvoted %}
                            	<input type="submit" value="up/down Vote" class="button">
                        	{% else %}
                            	<input type="submit" value="up/down Vote" class="button">
                        	{% endif %}
                    	</form>
					</div>
                    {% endfor %}
				</div>
				</div>
		{% endfor %}

         <!--JavaScript files-->
	 <!--Jquery library-->
	 <script src="{% static "js/jquery-3.2.1.js"  %}"></script>
	 <!--Bootstrap js library -->
	 <script src="{% static "js/bootstrap.js"  %}"></script>
	</body>
</html>
